body
{
    direction: rtl;
}
.top-slider
{
    height: 445px;
}
.shopping
{
    left: 0;
    top: -8px;
}
.card-pharmacy
{
    height: 250px;
}
.card-pharmacy-shop
{
    height: 150px;
}
.brand-img
{
    width: 373px;
    height: 137px;
}
.btn-primary
{
    background: #4154f1;
}
.dropdown-menu-end {
     right: auto;
     left: 0;
}
 .nav-tabs .nav-link
{
    background: #4154f1;
    color: #ffffff;
    border-radius: 0;
    border: 1px solid #4154f1;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #4154f1;
    background-color: #fff;
    border: 1px solid #4154f1;
    outline: 0;
 }
 .card
 {
     border: 0;
 }
 .txt
 {
     border-radius: 20px;
     background: #0b000094;
     transform: translate(-85%, 100%);
     color: white;
 }
 .col-23
 {
     width: 245px;
 }
 .img-sm
 {
     height: 80px;
     width:70px
 }
 .img-sm-row
 {
     height: 60px;
     width:50px
 }
 .slider{
     overflow-x: scroll;
     flex-wrap: nowrap;
     width: 95%;
     transition: 15s ease-in-out;
     scroll-behavior: smooth;
 }
 .slider::-webkit-scrollbar
  {
      height:0 ;
  }
 .cont
 {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .img-parents
 {
     width: 300px;
     height: 200px;
     transition: .5s;
     box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)
 }
 .img-parents:hover
 {
    transform:translateY(-20px);
    transform-origin: 20% 40%; 
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.250)
}